html,
body {
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 0;
  position: relative;
  align-items: center;
  justify-content: center;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  background: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  background: #f0f0f0;
}

.main {
  /* overflow: hidden; */
  margin: 25% 0 0 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
  /* align-items: center; */
}

#root > div {
  width: 400px;
}

.transitions-item {
  overflow: hidden;
  width: 100%;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 5em;
  font-weight: 800;
  text-transform: uppercase;
  will-change: transform, opacity, height;
  white-space: nowrap;
  cursor: pointer;
  line-height: 80px;
}
#card2 {
  border-style: hidden;
  width: 20 rem;
  padding: 60;
  border-color: transparent;
  background-color: transparent;
}
.col-sm {
  margin: 20;
  padding: 10 100 100 10;
}
